{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-2 offset-md-2">
            <h3 class="page-title">{% trans "Sign Up" %}</h3>

            <p class="text-center">{% blocktrans %}Welcome back to Kitchen Tales | Do you already have an account? Please <a
              class="link" href="{{ login_url }}">sign in here</a>
              <br>
               <br>If not, please make an account below:{% endblocktrans %}</p>
        </div>
    </div>
    <div class="sign-up-form offset-md-3">
        <div class="col-md-7 offset-md-2">
            <form class="login" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup mt-3 col-md-7" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
</div>

        </div>



{% endblock %}