/* Global Styles */

body {
    background-color: bisque;
}

.page-title {
    font-weight: 300;
    text-align: center;
    color: #976c6c;
    padding-top: 15px;
}


/* Navbar */

.logo-image {
    margin-top: -75px;
    height: 250px;
    width: 250px;
}

.navbar {
    margin-top: -25px;
}

.bg-company-red {
    margin-top: -10px;
    letter-spacing: 1.25px;
    word-spacing: 8px;
    background-color: bisque;
    font-size: 20px;
}


.nav-item {
    margin-top: -50px;
}


/* Recipe Cards */

.custom-recipe-card {
    width: 100%;
    height: 20px;
    object-fit: cover;
    min-height: 200px;
}

.custom-recipe-title {
    font-size: 20px;
}

/* Recipe Detail page */

.custom-recipe-detail-img {
    max-height: 375px;
    object-fit: cover;
    width: 100%;
    padding: 1px;
}

.custom-recipe-detail-header {
    border: none;
    background-color:bisque;
    color: #886363;
    letter-spacing: 1px;
}


.comments {
    border: 0.5px solid rgb(222, 136, 90);
}


.main-header {
    margin-top: -450px;
    margin-left: -25px;
}

