{% extends "base.html" %}

{% block title %} Kitchen Tales | All Recipes {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">Recipes</h1>
            <hr>
        </div>
    </div>
    
    <br>
    <!-- Recipe Cards -->
    <div class="row card-deck">
        {% for recipe in recipe_list  %}
        <div class="col-sm-6 col-md-4 col-lg-3 px-1 d-flex align-items-stretch">
            <div class="card recipe-card mb-3 shadow-sm mx-auto mx-sm-2">
                {% if "placeholder" in recipe.image.url %}
                <img src="https://res.cloudinary.com/diez1cpce/image/upload/v1668704852/pp4/placeholder-recipe_jurheg.jpg"
                    class="custom-recipe-card" alt="placeholder image">
                {% else %}
                <img src=" {{ recipe.image.url }}" alt="recipe image" class="custom-recipe-card">
                {% endif %}
                <div class="card-body mt-1">
                    <h2 class="card-title custom-recipe-title">{{ recipe.title }}</h2>
                    <p class="card-text">
                        <span><i class="far fa-clock pr-2"></i></span>
                        <span>Prep Time: {{ recipe.prep_time }}</span>
                    </p>
                    <p class="card-text">
                        <span><i class="far fa-clock pr-2"></i></span>
                        <span>Cook Time: {{ recipe.cook_time }}</span>
                    </p>
                    <p class="card-text">
                        <span><i class="far fa-star"></i></span>
                        <span>{{ recipe.like_recipe.count }} Likes</span>
                    </p>
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="stretched-link"
                        aria-label="recipe-detail"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "recipe_paginator.html" %}
{% endblock %}