{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
     content="Kitchen Tales is a recipe sharing app where you can add, edit and delete your own recipes and comments">
    <meta name="keywords" content="recipe, recipes, recipe sharing, food, meal">
    <meta name="author" content="Chris Townsend">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/diez1cpce/image/upload/v1670072629/pp4/favicon-16x16_qnuy8b.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/diez1cpce/image/upload/v1670072525/pp4/favicon-32x32_yv1xdn.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/diez1cpce/image/upload/v1670072467/pp4/apple-touch-icon_rkrvkr.png">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}Kitchen Tales | Home {% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-company-red">
      
        <a class="navbar-brand flex-grow-1 mr-auto" href="{% url 'home' %}">
          <img class="logo-image"
          src="https://res.cloudinary.com/diez1cpce/image/upload/v1668872940/pp4/logo_transparent_new_gqeyfq.png"
          alt="headerlogo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}"
              >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all_recipes' %}">Recipes</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                MyAccount
              </a>
              <div class="dropdown-menu">
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'add_recipe' %}">Add-Recipe</a>
                    <a class="dropdown-item" href="{% url 'my_recipes' %}">My-Recipes</a>
                    <a class="dropdown-item" href="{% url 'save_recipe' %}">Saved-Recipes <i class="far fa-star"></i></a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                <a class="dropdown-item" href="{% url 'account_login' %}">Sign-in</a>
                <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}
          </ul>
          <form class="form-inline flex-nowrap mx-0 mx-lg-auto rounded p-1" method="post" action="{% url 'search_result' %}">
            {% csrf_token %}
            <input class="form-control my-sm-2 form-font" type="search" placeholder="Search Recipes" aria-label="Search" name="searched">
            <button class="btn my-sm-0 btn-search mr-1" type="submit"><i class="fas fa-search"></i></button>
          </form>
          </div>
        </div>
      </nav>
      

      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg"
            role ="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="far fa-window-close"></i></button>
            </div>
            

            {% endfor %}
          </div>
        </div>
      </div>
      
  
        {% block content %}
      
        {% endblock content %}
   {% include 'footer.html' %} 




    <!-- Fontawesome script-->
    <script src="https://kit.fontawesome.com/9932e8fab5.js" crossorigin="anonymous"></script>
    <!-- Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> 

             
    <!--Javascript for switching active pages within navbar &
    setTimeout to automatically close alerts after 2.8 seconds--> 
    <script>
      $(document).ready(function() {
      $('li.active').removeClass('active').removeAttr('aria-current');
      $('a[href="' + location.pathname + '"]').closest('li').addClass('active').attr('aria-current', 'page'); 
      });

      setTimeout(function() {
        let messages = document.getElementById("msg");
        let alert = new bootstrap.Alert(messages);
        alert.close();
      }, 2800);
    </script>
  
</body>
    