<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-5">
            <ul>
                <li>
                    <a href="https://facebook.com" target="_blank" rel="noopener"
                    aria-label="Vist our Facebook page (opens in a new tab)"
                    class="fab fa-facebook"></a>
            </li>
            <li>
                <a href="https://instagram.com" target="_blank" rel="noopener"
                    aria-label="Vist our Instagram page (opens in a new tab)"
                    class="fab fa-instagram"></a>
            </li>
            <li>
                <a href="https://twitter.com" target="_blank" rel="noopener"
                    aria-label="Vist our Twitter page (opens in a new tab)" 
                    class="fab fa-twitter"></a>
            </li>
            <li>
                <a href="https://youtube.com" target="_blank" rel="noopener"
                    aria-label="Vist our Youtube page (opens in a new tab)"
                     class="fab fa-youtube"></a>
        </ul>
        </div>
    </div>
    </div>
    
</footer>
<!-- End of Footer -->
