{% extends "base.html" %}
{% block title %}Kitchen Tales | Home{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


<!-- Welcome to Kitchen Tales section -->
<section aria-label="welcome-section">
  <div class="container welcome-container py-3">
    <div class="row flex-md-row-reverse py-3 m-1">
      <div class="col-md-7 col-lg-5 p-0 pl-md-5 align-self-center mobile-view text-center">
        <img src="https://res.cloudinary.com/diez1cpce/image/upload/v1671708164/pp4/home-welcome-image_bxspce.webp"
          class="welcome-image" alt="cooking & ingredients setup">
      </div>
      <!-- If the user is authenticated display welcome message with the users name
           and the option to add a recipe -->
      {% if user.is_authenticated %}
      <div class="col-md-5 col-lg-7 text-center">
        <h1 class="mt-3 mb-2 welcome-title">Welcome back to Kitchen Tales {{ user.username }}</h1>
        <p class="welcome-text ml-3">Share your favourite recipes..</p>
        <div class="mt-4">
          <a class="btn btn-lg btn-outline-dark rounded-pill ml-4 form-font" href="{% url 'add_recipe' %}">Add a new
            recipe!</a>
        </div>
      </div>
      <br>
      <!-- If the user is not authenticated display welcome message and a link
           to the sign up page -->
      {% else %}
      <div class="col-md-5 col-lg-7 text-center">
        <h1 class="welcome-title mt-3 mb-2">Welcome to Kitchen Tales</h1>
        <h2 class="welcome-text ml-3">Share your favourite recipes..</h2>
        <div class="mt-4">
          <a class="btn btn-lg btn-outline-dark rounded-pill ml-4 form-font" href="{% url 'account_signup' %}">Sign Up
            Today!</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End of Kitchen Tales welcome section -->

<!-- Bootstrap image carousel -->
<section class="container mt-5" aria-label="carousel-food-items">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active md-8">
        <img src="https://res.cloudinary.com/diez1cpce/image/upload/q_100/a_180/v1673097236/food-select_ew8ziu.webp"
          class="d-block mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/diez1cpce/image/upload/q_97/v1673096831/salad-select_gbxfts.webp"
          class="d-block mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/diez1cpce/image/upload/q_99/v1673095191/food-selection_nnhdqp.webp"
          class="d-block justify-content-center" alt="An assortment of cooked dishes and ingredients">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</section>
<!-- End of Bootstrap image carousel -->

<!-- Card Section -->
<section aria-label="homepage-card-section">
  <div class="container mt-5">
    <div class=" row justify-content-center">
      <div class=" card-deck col-sm-6 col-md-4 col-lg-3 align-items-stretch">
        <div class="card recipe-card mb-3 shadow-sm mx-auto mx-sm-2">
          <img src="https://res.cloudinary.com/diez1cpce/image/upload/q_96/v1671443451/magazine_boiek4.webp"
            class="custom-home-card" alt="magazine cover">
          <div class="card-body">
            <h2 class="text-title text-center"><strong>Our magazine</strong></h2>
            <br>
            <br>
            <p class="card-text-home text-center">Buy our print magazine for monthly recipe inspiration,
              features and
              cookery tips.</p>
          </div>
        </div>
      </div>
      <div class=" card-deck col-sm-6 col-md-4 col-lg-3 align-items-stretch">
        <div class="card recipe-card mb-3 shadow-sm mx-auto mx-sm-2">
          <img src="https://res.cloudinary.com/diez1cpce/image/upload/q_96/v1671443227/recipe-app_kgssyk.webp"
            class="custom-recipe-card" alt="Recipe displayed on tablet device">
          <div class="card-body">
            <h2 class="text-title text-center"><strong>Recipe app</strong></h2>
            <br>
            <br>
            <p class="card-text-home text-center">Download our app to get app-exclusive recipes, videos,
              masterclasses
              and more.</p>
          </div>
        </div>
      </div>
      <div class=" card-deck col-sm-6 col-md-4 col-lg-3 align-items-stretch">
        <div class="card recipe-card mb-3 shadow-sm mx-auto mx-sm-2">
          <img src="https://res.cloudinary.com/diez1cpce/image/upload/q_95/v1671443648/books_b1ghni.webp"
            class="custom-home-card" alt="stack of books">
          <div class="card-body">
            <h2 class="text-title text-center"><strong>Subscribe today!</strong></h2>
            <br>
            <br>
            <p class="card-text-home text-center">Choose a new cookbook worth up to £40 when you subscribe to
              our
              magazine.</p>
          </div>
        </div>
      </div>
      <div class=" card-deck col-sm-6 col-md-4 col-lg-3 align-items-stretch">
        <div class="card recipe-card mb-3 shadow-sm mx-auto mx-sm-2">
          <img src="https://res.cloudinary.com/diez1cpce/image/upload/q_96/v1671444943/cheese_ua76oh.webp"
            class="custom-recipe-card" alt="slice of cheese">
          <div class="card-body">
            <h2 class="text-title text-center"><strong>Artisan Cheese Club</strong></h2>
            <br>
            <p class="card-text-home text-center">Carefully selected & personalised, delivered straight to
              your door.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of card section -->

<!-- Signup to our newsletter section-->
<section aria-label="newsletter-section" class="container align-self-center">
  <div class="sign-up-container text-center">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2 class="welcome-news-text ml-3 text-center"> Never miss a recipe from Kitchen Tales</h2>
          <br>
          <p class="card-text-home mb-sm text-center">
            Sign up to receive our monthly newsletter.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <div class="row d-flex justify-content-center">
          <div class="col-md-3 text-center">
            <br>
            <a class="btn btn-lg mb-3 btn-outline-dark rounded-pill ml-4 form-font"
              href="{%  url 'newsletter'  %}">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
<!-- End of newsletter section-->

{%endblock%}