{% extends 'base.html' %}
{% block title %} Kitchen Tales | Update comment on {{ recipe.title }}{% endblock %}
{% block content %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% if user.is_authenticated and user.username == comment.name %}

<!-- This page allows a user to update their comment if they are the author
        of the comment else redirect to 403 template -->
<div class="container">
    <h1 class="page-title">Update Comment</h1>
    <hr>
    <br>
    <div class="row justify-content-center ">
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <!-- Update comment form -->
            <form method="post" action="{% url 'update_comment' comment.id %}" class="mb-5 form-font"
                enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <!-- If a user cancels updating a comment, return back to the recipe detail page 
                     which the user was going to comment on -->
                <a class="btn btn-signup form-font" href="{%  url 'recipe_detail' comment.post.slug  %}">Cancel</a>
                <input type="submit" class="btn btn-signup form-font" value="Update Comment" />
            </form>
        </div>
    </div>
</div>

{% elif user.is_authenticated %}

{% include "403.html" %}

{% endif %}

{% endblock content %}